[% WRAPPER "global/wrapper.html.tmpl" 
  title = "Install Creation Scheduled"
%]

<p>Okay, in a few minutes, your installation should be available at
  <a href="[% url FILTER html %]">http://landfill.bugzilla.org[% url FILTER html %]</a>.</p>

[% END %]
