<!DOCTYPE html>
<html>
  <head>
    <title>[% title FILTER html %]</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
    <p>
      [<a href="installs.cgi">Test Installs</a>]
      [<a href="patches.cgi">Patches</a>]
    </p>

    <h1>[% title FILTER html %]</h1>
    <div id="content">
      [% content %]
    </div>
  </body>
</html>
